.join-btn {
  color: white;
  background-color: rgb(235, 81, 81);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
}
.create-btn {
  color: white;
  background-color: rgb(94, 231, 94);
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 8px;
  padding-bottom: 8px;
  border-radius: 10px;
}
